// color vars

//// blue
$blue-1 = #e5f8ff
$blue-2 = #bbe7f6
$blue-3 = #60bdf1
$blue-4 = #2da9ee
$blue-5 = #1696ea
$blue-6 = #117ed1

//// green
$green-1 = #f3ffdb
$green-2 = #d9f1a6
$green-3 = #b6df76
$green-4 = #8fcb31
$green-5 = #6eb805
$green-6 = #549a40

//// red
$red-1 = #fff1ef
$red-2 = #ffd1cb
$red-3 = #ff9576
$red-4 = #f1572e
$red-5 = #e14116
$red-6 = #c82a00

//// gold
$gold-1 = #fff8ce
$gold-2 = #ffec93
$gold-3 = #ffde59
$gold-4 = #fbcf00
$gold-5 = #f6c115
$gold-6 = #eeaf00

//// purple
$purple-1 = #faf2fc
$purple-2 = #eecbf7
$purple-3 = #d79ae2
$purple-4 = #bd72cc
$purple-5 = #af58c1
$purple-6 = #9944aa

//// gray
$gray-1 = #f3f3f3
$gray-2 = #dadada
$gray-3 = #bebebe
$gray-4 = #a2a2a2
$gray-5 = #888888
$gray-6 = #6a6a6a
$gray-7 = #3b3b3b   
$gray-e8 = #e8e8e8

//// white,black
$white = #ffffff
$black = #000000

//// Settings global styles
$body-bg = $gray-1







//// basic
$color-orange = $gold-5
$color-regular-blue = #4a4c5b
$color-background = #f3f4f5
$color-white = #ffffff

//// gray
$color-dark-grey = #333
$color-grey = $gray-5
$color-light-grey = #999
$color-light-grey-s = #ccc
$color-light-grey-ss = #eee
$color-light-grey-sss = #fcfcfc
$color-active-grey = #e8e8e8

$color-dark-grey-opacity = rgba(74, 76, 91, 0.8)
$color-grey-opacity = rgba(0, 0, 0, .08)
$color-light-grey-opacity = rgba(0, 0, 0, .04)

//// orange
$color-dark-orange = $blue-5
$color-light-orange = #fdc2a5
$color-orange-opacity = rgba(252, 145, 83, .08)
$color-light-orange-opacity = rgba(252, 145, 83, .04)

//// blue
$color-blue = $blue-5

//// row line
$color-row-line = #ebebeb
//// column line
$color-col-line = #f5f5f5

/// mask
$color-mask-bg = rgba(37, 38, 45, .4)
